<h1>Building: <%= @building.name %></h1>
<p>Country: <%= @building.country %></p>
<p>Address: <%= @building.address %></p>
<p>Rent per Floor: $<%= @building.rent_per_floor %></p>
<p>Number of Floors: <%= @building.number_of_floors %></p>
<p>Companies using building:</p>
<ul>
<% @building.offices.each do |office| %>
    <li><%= office.company.name %></li>
<% end %>
</ul>
<p>Building Total Revenue: $<%= @building.total_rent %></p>

<a href="<%= edit_building_path %>"><button>Edit</button></a>